<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <h1>Employee List</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>
        <tr th:each="employee : ${listofemployees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.position}"></td>
            <td th:text="${employee.salary}"></td>
             
            <td>
                <a th:href="@{/employees/edit/{id}(id=${employee.id})}">Edit</a> |
                <a th:href="@{/employees/delete/{id}(id=${employee.id})}">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/employee/new">Add New Employee</a>
</body>
</html>
